<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        
        <title>Error</title>

        <link rel="icon" href="https://bsky.link/favicon.svg" type="image/svg+xml" />
        <link rel="icon" href="https://bsky.link/favicon.png" type="image/png" />

        <link rel="stylesheet" href="/styles.css">
    </head>
    <body>
        <main class="h-entry">
            <p>There was an error retrieving the post.</p>
        </main>
    </body>
</html>
