<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        
        <title>Embed Bluesky Post</title>

        <meta name="description" content="Generate an embeddable link for a Bluesky Post." />
        
        <meta property="og:title" content="Embed Bluesky Post" />
        <meta property="og:description" content="Generate an embeddable link for a Bluesky Post." />
        <meta property="og:image" content="https://screenshot.jamesg.blog/?url=https://bsky.link" />

        <link rel="icon" href="https://bsky.link/favicon.png" type="image/x-icon" />

        <link rel="stylesheet" href="/styles.css">
    </head>
    <body>
        <main>
            <h1>Generate links for Bluesky Posts</h1>
            
            <p>Generate embeddable links for Bluesky Posts.</p>

            <form action="/" method="GET">
                <input type="url" name="url" placeholder="Paste a Bluesky Post URL here" required><br><br>
                <label for="show_thread">Show thread?</label>
                <input type="radio" name="show_thread" value="t" id="show_thread" checked>
                <br><br>
                <button type="submit">Generate</button>
            </form>

            <div id="embed_url"></div>

            <div id="embed"></div>

            <div id="embedcode"></div>

            <h2>How To Create Links</h2>

            <p>You can create links to share using the following syntax:</p>

            <pre><code>https://bsky.link/?url=https://staging.bsky.app/profile/&lt;handle&gt;.bsky.social/post/&lt;post_id&gt;</code></pre>

            <p>Where <code>&lt;handle&gt;</code> is the handle of the author of the post, and <code>&lt;post_id&gt;</code> is the ID of the post.</p>

            <p>Specify the <code>show_thread</code> parameter to show the thread of replies to the post. Set it to <code>t</code> to show all the posts a user has added to a thread.</p>

            <h2>Generate Microformats2 Feeds for User Profiles</h2>

            <p>You can generate Microformats2 feeds for user profiles using the following syntax:</p>

            <pre><code>https://bsky.link/feed?user=&lt;handle&gt;</code></pre>

            <p>Where <code>&lt;handle&gt;</code> is the handle of the user (i.e. <code>jamesg.blog</code>).</p>

            <footer>
                <p>Made with ❤️ and ☕️ by <a href="https://jamesg.blog" target="_blank">jamesg.blog</a>. <a href="https://github.com/capjamesg/bsky-link-preview">View source</a>. Not affiliated with Bluesky.</p>
            </footer>
        </main>
        <script>
            // on form submit, create ifreame
            document.querySelector('form').addEventListener('submit', function(e) {
                e.preventDefault();

                if (e.target.elements.show_thread.value == 't') {
                    var url = 'https://bsky.link/?show_thread=t&url=' + e.target.elements.url.value;
                } else {
                    var url = 'https://bsky.link/?url=' + e.target.elements.url.value;
                }

                var url = new URL(url);

                const iframe = document.createElement('iframe');
                iframe.src = url;
                iframe.width = '100%';
                iframe.height = '200px';
                iframe.frameBorder = '0';
                iframe.allow = 'autoplay; encrypted-media';
                iframe.allowFullscreen = true;
                document.querySelector('#embed').innerHTML = iframe.outerHTML;

                const h2 = document.createElement('h2');
                h2.innerText = 'Embed';
                document.querySelector('#embed').prepend(h2);

                // show embed code
                const embedCode = document.createElement('textarea');
                embedCode.innerText = iframe.outerHTML;
                embedCode.style.width = '100%';
                embedCode.style.height = '100px';
                embedCode.style.marginTop = '10px';
                embedCode.style.padding = '10px';
                embedCode.style.border = '1px solid #ccc';
                embedCode.style.borderRadius = '5px';
                embedCode.style.fontFamily = 'monospace';
                document.querySelector('#embedcode').innerHTML = embedCode.outerHTML;

                const embedCodeHeading = document.createElement('h2');
                embedCodeHeading.innerText = 'Embed Code';
                document.querySelector('#embedcode').prepend(embedCodeHeading);

                // show embed url
                const embedH2 = document.createElement('h2');
                embedH2.innerText = 'Embed URL';
                document.querySelector('#embed_url').innerHTML = embedH2.outerHTML;
                const embedUrl = document.createElement('a');
                embedUrl.href = url;
                embedUrl.innerText = url;
                document.querySelector('#embed_url').append(embedUrl);
            });
        </script>
    </body>
</html>