* {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
    box-sizing: border-box;
}
html {
    padding: 10px;
    border-top: 5px solid #0060df;
}
img {
    border-radius: 50%;
}
.author {
    display: flex;
    align-items: center;
}
.inner-embed .author img {
    height:1em;
    width:1em;
}
.inner-embed .author h2 {
    display: inline;
    font-size: 1em;
}
.inner-embed .author p {
    display: inline;
}

.inner-embed {
    border: 1px solid lightgray;
    border-radius: 8px;
    padding: 0.5em;
}
.author-name h2, .author-name p {
    margin: 0;
}
.author-name {
    margin-left: 10px;
}
blockquote {
    margin-left: 0;
    padding: 0;
    border-left: 5px solid #ccc;
    padding-left: 10px;
    overflow-wrap: break-word;
    word-wrap: break-word;
}
.e-content {
    white-space: break-spaces;
}
main {
    max-width: 500px;
}
iframe {
    margin-top: 10px;
    border: 1px solid #ccc;
}
a {
    color: #0060df;
    text-decoration: none;
}
.inner-embed {
    margin-top: 25px;
}
.embedded-image {
    height: 100%;
    width: 100%;
    border-radius: 10px;
    object-fit: cover;
    margin-top: 25px;
}

input[type="url"], textarea {
    padding: 0.5em;
    border: 1px solid #ccc;
    border-radius: 0.25em;
    font-size: 1em;
    width: 100%;
}
input[type="radio"] {
    margin-right: 5px;
}
button {
    background: #0060df;
    color: #fff;
    border: none;
    cursor: pointer;
    padding: 10px;
    border-radius: 10px;
    margin-top: 10px;
    font-size: 1em;
}
.datelink {
    color: black;
    font-weight: 200;
    text-decoration: none;
    font-size: 0.8em;
    margin-bottom: 10px;
    display: block;
}
ul {
    padding: 0;
    list-style: none;
}
li, .reposted-by {
    margin-bottom: 30px;
}
hr {
    border: 0;
    border-top: 1px solid #ccc;
    margin: 25px 0;
}
pre {
    background: #eee;
    padding: 10px;
    border-radius: 10px;
    overflow-x: scroll;
}
code {
    background: #eee;
}
.indent {
    margin-left: 20px;
}
.indent_twice {
    margin-left: 40px;
}
.external-embed {
    margin-top: 25px;
    border: 1px solid #ccc;
    border-radius: 10px;
}
.external-embed img {
    margin-top: 0;
    border-bottom-left-radius: 0%;
    border-bottom-right-radius: 0%;
}
.external-embed .text-card {
    padding: 10px;
}
.external-embed .text-card .title {
    font-size: 1.2em;
    margin-top: 0;
}
.external-embed .text-card .desc {
    font-size: 0.8em;
    margin-top: 0;
}
@media screen and (max-width: 500px) {
    input[type="url"], textarea, input[type="submit"] {
        width: 100%;
    }
}